* {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.background{
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 100vw;
    background-attachment: fixed;
}

#header a {
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}


#primary_navbar {
    display: flex;
    padding-top: 25px;
    width: 100%;
    align-items: center;
}

#logo {
    background: transparent;
    height: 50px;
    width: 50px;
}

.bullet {
    padding: 20px;
    margin: 0px;
}

li.bullet a {
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
}

#a {
    display: flex;
    justify-content: right;
    align-items: end;
    white-space: nowrap;
    list-style-type: none;
    margin: 20px;
}

li.bullet a:hover {
    color: lavender;
}

#header {
    margin-left: 10px;
    margin-bottom: 5px;
}

.title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: end;
    padding-left: 4%;
    padding-right: 3%;
    white-space: nowrap;
    width: 40;
    font-size: large;
}

nav.desktop{
    background: rgba(211, 211, 211, 0.8);
    margin-right: 20px;
    margin-left: 10px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.mobile #hamb + .dropdown {
    display: none;
}

.mobile #hamb {
    display: none;
}

#title2{
    color: white;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 500px;
    height: 100px;
    
}

.buttondiv {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 300px;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 120px;
    margin-left: 50px;
}

.button {
    padding: 10px;
    width: 150px;
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .mobile #hamb{
        background-color: transparent;
        border: transparent;
        display: flex;
        align-items: end;
        justify-content: right;
        margin-right: 30px;
        position: relative;
        font-size: 50px;
        
    }
    .mobile #hamb:hover + .dropdown{
        display: flex;
        color: lavender;
        flex-direction: column;
        position: absolute;
        background-color: aliceblue;
        list-style-type: none;
        
    }

    nav.mobile { 
        display: flex;
        
    }
    
    #title2 {
        width: 400px;
        height: 100px;
        font-size: 40px;
    }

    nav.desktop { display: none;}
}


